div>*{
    margin-left: 2%;
}
body{
    text-align: center;
    background-color: skyblue;
}
form{
    margin-left: 30%;
    display: table;
    left: 50%;
}
form>p{
    display: table-row;
}
form>p>label{
    display: table-cell;
}
form>p>input{
    display: table-cell;
}
h1{
    color: slateblue;
}